*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.24); */
}

section{
    margin: 10px 500px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 20px;
    height: 100vh;
}


.btn{
    padding: 30px;
}
.btn div{
    padding: 20px;
    gap: 20px;
}

button{
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.199);
    color: white;
}

button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    
    
}

input{
    padding: 20px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgba(0, 0, 255, 0.199);
    border-radius: 10px;
    
}

@media (max-width: 800px) {
    /* .btn{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    } */

    section{
        margin: 10px 20px;
    }


}